{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<h1>{{ post.title }}</h1>
<p>Écrit le {{ post.createdAt | date }}</p>
<div>
    {{ post.body }}
</div>
{% endblock %}
