{% extends 'base.html.twig' %}

{% block title %}Les dernières publications{% endblock %}

{% block body %}
<h1>Les dernières publications</h1>
<ul>
    {% for post in posts %}
    <li class="{{ loop.index is odd ? 'odd' : 'even'}}">{{ post.title }}</li>
    {% endfor %}
</ul>
{% endblock %}
