{% extends 'base.html.twig' %}

{% block title %}Les dernières publications{% endblock %}

{% block body %}
<h1>Les dernières publications</h1>
<ul>
    {% for post in posts %}
        <li class="{{ loop.index is odd ? 'odd' : 'even'}}">{{ post.title }}</li>
        {% else %} {# else si aucun élément dans la liste #}
        <li>Pas de publication actuellement.</li>
    {% endfor %}
</ul>
{% endblock %}
